<div>
  <h2>Simple Contact</h2>
  <table class="uk-table uk-table-small uk-table-striped">
    <thead>
      <tr>
        <th class="uk-width-small">件名</th>
        <th class="uk-table-expand">本文</th>
      </tr>
    </thead>
    <tbody>
    <%= for contact <- @contacts do %>
      <tr>
        <td><%= contact.subject %></td>
        <td><%= contact.contents %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>